<div class="content">
  <div class="container">
    <div class="jumbotron">
      <h1>NodeCompare v<span version></span></h1>
      
      <p>
        NodeCompare is a Javascript re-write of the <a href="https://sitecompare-2015.bluemod.us/ui">Bluemodus SiteCompare tool</a>
      </p>
      <p>It focuses on performance and a general flattening and simplification of the SiteCompare architecture</p>
      
      <h3>Technologies used:</h3>
      <ul>
        <li>Node JS</li>
        <li>Angular JS</li>
        <li>Express JS</li>
        <li>Bootstrap</li>
      </ul>
    </div>
  </div>
</div>