<div class="content" ng-controller="CompareDetailsCtrl">
  <h4 tab-control class="tab-control" target="#tab-image">Image Compare</h4>
  <h4 tab-control class="tab-control" target="#tab-source">Source Compare</h4>
  <div id="tab-image" class="tab tab-active">
    <img src="compareimageprovider/{{compareId}}">
  </div>
  <div id="tab-source" class="tab">
    <div source-compare class="diff" source-id="{{sourceId}}" target-id="{{targetId}}"></div>
  </div>  
</div>

<script src="../js/plugins/diff_match_patch.js"></script>
<script src="../js/plugins/jquery.prettytextdiff.js"></script>