<div class="content" ng-controller="JobDetailsCtrl as ctrl">
  <p>
    <strong>Name: </strong><span>{{job.name}}</span>
  </p>
  <p>
    <strong>Description: </strong><span>{{job.description}}</span>
  </p>
  <p>
    <strong>Name: </strong><span>{{job.name}}</span>
  </p>
  <table class="table">
    <thead>
      <tr>
        <td>SourceImage</td>
        <td>TargetImage</td>
        <td>Compare</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="compare in job.compares">
        <td>
          <img id="sourceImage" class="preview-image" src="imageprovider/{{compare.sourceId}}" alt="">
        </td>
        <td>
          <img id="targetImage" class="preview-image" src="imageprovider/{{compare.targetId}}" alt="">
        </td>
        <td>
          <img id="targetImage" class="preview-image" src="compareimageprovider/{{compare.compareId}}" alt="">
          <!--<img id="targetImage" class="preview-image" src="" compare source-image-id="{{compare.sourceId}}" target-image-id="{{compare.targetId}}" alt="">-->
        </td>
      </tr>
    </tbody>
  </table>
</div>
<script src="js/resemble.js"></script>