<div class="content" ng-controller="JobDetailsCtrl as ctrl">
  <p>
    <strong>Name: </strong><span>{{job.name}}</span>
  </p>
  <p>
    <strong>Description: </strong><span>{{job.description}}</span>
  </p>
  <p>
    <strong>Name: </strong><span>{{job.name}}</span>
  </p>
  
  <table class="table">
    <thead>
      <tr>
        <td>SourceImage</td>
        <td>TargetImage</td>
        <td>Compare</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="compare in job.compares">
        <td>
          <img id="sourceImage" class="preview-image" src="imageprovider/{{compare.sourceImageId}}" alt="">
        </td>
        <td>
          <img id="targetImage" class="preview-image" src="imageprovider/{{compare.targetImageId}}" alt="">
        </td>
        <td>
          <img id="targetImage" class="preview-image" src="" compare source-image-id="{{compare.sourceImageId}}" target-image-id="{{compare.targetImageId}}" alt="">
        </td>
      </tr>
    </tbody>
  </table>
  
  
  
  
  
  
  
  <!--<img class="preview-image" src="" resemble-compare source-image="{{job.sourceImageId}}" target-image="{{job.targetImageId}}" alt="">-->
</div>
<script src="js/resemble.js"></script>