<div class="content" ng-controller="NewJobCtrl as ctrl">
  <form>
  
    <input id="from-csv" type="file" parse-csv>
    
    
    <strong>Name: </strong><input class="form-control" ng-model="newJob.name"/>
    <strong>Description: </strong><input class="form-control" ng-model="newJob.description"/>
    
    <button class="btn btn-primary" ng-click="addCompare()">+</button>
    <button class="btn btn-primary" ng-click="removeCompare()">-</button>
    
    <table class="table">
      <thead>
        <tr>
          <td>SourceUrl</td>
          <td>TargetUrl</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="compare in newJob.compares">
          <td>
            <input class="form-control" ng-model="compare.sourceUrl"/>
          </td>
          <td>
            <input class="form-control" ng-model="compare.targetUrl"/>          
          </td>
        </tr>
      </tbody>
    </table>
    
    <button class="btn btn-primary" ng-click="submit()">Go!</button>
  
  </form>
  
</div>

<script src="../js/papaparse.js"></script>
<!--<script>
  $('#from-csv').change(function (e) {
        Papa.parse(, {
            delimiter: ',',
            complete: function (csv) {
                console.log(csv);
                var compareList = [];
                // updateUrlFields(csv.data[1][0], csv.data[1][1], 1);
                for (var i = 2; i < csv.data.length - 1; i++) {
                    
                    csv.data[i][0], csv.data[i][1]
                }
                addDeleteHandlers();
            }
        });
    });
</script>-->