<div class="content" ng-controller="SettingsCtrl">
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <td></td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="setting in settings">
          <td>{{setting.name}}</td>
          <td><input ng-model="setting.value" type="text" class="form-control" /></td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-primary" ng-click="saveSettings()">Save</button>
  </div>
</div>