<div class="content" ng-controller="SettingsCtrl">
  <div class="container">
    <h1>Settings</h1>
    <table class="table">
      <thead>
        <tr>
          <td>Name</td>
          <td>Value</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="setting in settings">
          <td>{{setting.name}}</td>
          <td><input ng-model="setting.value" type="{{setting.inputType}}" class="form-control" /></td>
        </tr>
      </tbody>
    </table>
    <div class="col-md-6">
      <button class="btn btn-primary" ng-click="saveSettings()">Save</button>
    </div>
    <div class="col-md-6">
      <div class="alert alert-success" role="alert" fader="message"></div>
    </div>
  </div>
</div>