doctype html
html(lang='en' ng-app="app")
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    base(href="/")
    title= title
    block css
      link(rel='stylesheet', href='/css/style.css')
      link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
      link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css")
    block js
      script(src="http://code.jquery.com/jquery-2.1.4.min.js")
      script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
      script(src="/js/angular/angular.min.js")
      script(src="/js/angular/angular-route.js")
      script(src="/js/app.js")
      script(src="/js/controllers/JobListCtrl.js")
      script(src="/js/controllers/JobDetailsCtrl.js")
      script(src="/js/controllers/MainCtrl.js")
      script(src="/js/controllers/NewJobCtrl.js")
      script(src="/js/services/JobInterface.js")
      script(src="js/directives/NavStatus.js")
        if ENV_DEVELOPMENT
          script(src='http://localhost:35729/livereload.js')
        
  body(ng-controller="MainCtrl")
    block content
      div(class="container")
        nav
          ul(class="nav nav-tabs nav-justified")
            li(class="active" nav-status)
              a(href="/jobs") Jobs
            li(nav-status)
              a(href="/new") New Job
        ng-view
