doctype html
html(lang='en' ng-app="app")
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    base(href="/")
    title= title
    block css
      link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
      link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css")
      link(rel='stylesheet', href='/css/style.css')
    block js
      script(src="//code.jquery.com/jquery-2.1.4.min.js")
      script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
      script(src="/js/angular/angular.min.js")
      script(src="/js/angular/angular-route.js")
      script(src="/js/angular/angular-animate.min.js")      
      script(src="/js/app.js")
      script(src="/js/controllers/JobListCtrl.js")
      script(src="/js/controllers/JobDetailsCtrl.js")
      script(src="/js/controllers/MainCtrl.js")
      script(src="/js/controllers/NewJobCtrl.js")
      script(src="/js/controllers/SettingsCtrl.js")
      script(src="/js/services/JobInterface.js")
      script(src="/js/services/ImageManipulator.js")
      script(src="js/directives/NavStatus.js")
      script(src="js/directives/SpinnerMorph.js")
      script(src="js/directives/SlideOutNav.js")
      script(src="js/directives/ParseCsv.js")
      script(src="js/directives/Compare.js")
      script(src="js/directives/Version.js")
      script(src="js/directives/Fader.js")
        if ENV_DEVELOPMENT
          script(src='http://localhost:35729/livereload.js')
        
  body(ng-controller="MainCtrl")
    block content
      div(class="slide-out-nav")
        div(class="title")
          span NodeCompare
        div(id="nav-filter" class="input-group")
          span(class="input-group-addon")
            span(class="glyphicon glyphicon-search")
          input(id="filter-box" class="form-control" type="text" ng-model="filterText" placeholder="Filter.." style="color:black;")
        ul
          a(href="{{item.location}}" ng-repeat="item in menuItems | filter: filterText")
            li
              span(class="{{item.icon}}")
              span {{item.name}}
        
        
          // a(href="/")
          //   li
          //     span Job List
          // a(href="/new")
          //   li
          //     span New Job
      div(id="cover" style="display:none;")
      div(class="ribbon top clearfix")
        div(class="left")
          button(class="btn btn-primary nav-toggle" slide-out-nav)
            span(class="glyphicon glyphicon-th-list")
        // div(class="center")
        span(class='center') NodeCompare v
          i(version)
        div(class="right")
          a(class="btn btn-primary" href="/new")
            span(class="glyphicon glyphicon-plus green")
      div(ng-view ng-animate="slide")
